<div  layout="column"  class="md-inline-form" flex>

  <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding  layout-fill>
    <div>
      <md-input-container>
        <label>Valor da contribuição</label>
        <input ng-model="payments.valor" placeholder="Valor da contribuição"  ui-money-mask="2" >
      </md-input-container>
    </div>

    
    <div>
      <md-input-container>
        <label>Data de contribuição</label>
        <input ng-model="payments.data" placeholder="Data de contribuição" ui-date-mask>
      </md-input-container>
    </div>

    
    <div>
      <md-input-container>
        <label>Descrição</label>
        <input ng-model="payments.desc" placeholder="Nome do conjuge do contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Observações</label>
        <textarea ng-model="payments.obs" md-maxlength="150" rows="5" md-select-on-focus></textarea>        
      </md-input-container>
    </div>


    
    <div>
      <md-input-container>
        <label>Contribuinte</label>
        <input ng-model="payments.nome_user_contrib" placeholder="Contribuinte">
      </md-input-container>
    </div>

    

    <div>
      <md-input-container>
          <md-button class="md-raised md-primary" ng-click="addPayment()">Atualizar</md-button>        
      </md-input-container>
    </div>



  </md-content>

</div>


