<div  layout="column" ng-cloak class="md-inline-form">

  <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding  layout-fill>
    <div>
      <md-input-container>
        <label>Nome</label>
        <input ng-model="contribs.nome" placeholder="Nome do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>E-Mail</label>
        <input ng-model="contribs.email" placeholder="E-Mail do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Data de Nascimento</label>
        <input ng-model="contribs.dtnasc" placeholder="Data de Nascimento do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Data de Batismo</label>
        <input ng-model="contribs.dtbatismo" placeholder="Data de Batismo do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Data de Crisma</label>
        <input ng-model="contribs.dtcrisma" placeholder="Data de Crisma do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Data de Aniverssário de Casamento</label>
        <input ng-model="contribs.dtanivercasamento" placeholder="Data de Aniverssário de Casamento do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Nome do conjuge</label>
        <input ng-model="contribs.nomeconjuge" placeholder="Nome do conjuge do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Data do Aniverssário do Conjuge</label>
        <input ng-model="contribs.dtaniverconjuge" placeholder="Data do Aniverssário do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Dependentes</label>
        <input ng-model="contribs.dependentes" placeholder="Dependentes do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Endereço</label>
        <input ng-model="contribs.endereco" placeholder="Endereço do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Bairro</label>
        <input ng-model="contribs.bairro" placeholder="Bairro do Contribuinte">
      </md-input-container>
    </div>

	<div>
      <md-input-container>
        <label>Estado</label>
        <input ng-model="contribs.estado" placeholder="Estado do Contribuinte">
      </md-input-container>
    </div>


    <div>
      <md-input-container>
        <label>Cidade</label>
        <input ng-model="contribs.cidade" placeholder="Cidade do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Cep</label>
        <input ng-model="contribs.cep" placeholder="CEP do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Telefone</label>
        <input ng-model="contribs.telefone" placeholder="Telefone do Contribuinte">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Celular</label>
        <input ng-model="contribs.celular" placeholder="Celular do Contribuinte">
      </md-input-container>
    </div>




    <div>
      <md-input-container>
          <md-button class="md-raised md-primary" ng-click="addContrib()">Criar Contribuinte</md-button>        
      </md-input-container>
    </div>



  </md-content>

</div>


