<div  layout="column" ng-cloak class="md-inline-form">

  <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding  layout-fill>
    <div>
      <md-input-container>
        <label>Nome</label>
        <input ng-model="user.name" placeholder="Nome do Usuário">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>E-Mail</label>
        <input ng-model="user.email" placeholder="E-Mail (login) do Usuário">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Senha</label>
        <input ng-model="user.password" type="password" placeholder="Senha do Usuário">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
          <md-button class="md-raised md-primary" ng-click="addMovie()">Criar Usuário</md-button>        
      </md-input-container>
    </div>



  </md-content>

</div>


