<div  layout="column" ng-cloak class="md-inline-form">

  <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding  layout-fill>


<table class="table movietable">
    <tr>
        <td><h3>Detalhes do {{users.name}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>ID</td>
        <td>{{users.id}}</td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td>{{users.email}}</td>
    </tr>
    
    <tr>
        <td>Permissões</td>
        <td>
        <fieldset class="demo-fieldset" >
          <!-- <legend class="demo-legend"></legend> -->
          <div layout="row" layout-wrap flex>
          <div flex-xs flex="50">
            <md-checkbox aria-label="Select All"
                         ng-checked="isChecked()"
                         md-indeterminate="isIndeterminate()"
                         ng-click="toggleAll()">
              <span ng-if="isChecked()">De-</span>Seleciona todos
            </md-checkbox>
          </div>
            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
              <md-checkbox value="item.value" ng-checked="exists(item.value, selected)" ng-click="toggle(item.value, selected)">
               {{ item.name }}
              </md-checkbox>
            </div>
          </div>
        </fieldset>

        </td>
    </tr>
    
    
</table>
<div>
    <md-button class="md-raised md-primary" ui-sref="home.editUser({id:users.id})">Edit</md-button>
    
</div>

</md-content>

</div>