<div  layout="column" ng-cloak class="md-inline-form">

  <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding  layout-fill  class="background">
	<div class="error" ng-if="addmessage">
	 <md-whiteframe class="md-whiteframe-10dp" layout>
		    <span>{{addmessage}}</span>
	  </md-whiteframe>
		
	</div>

    <div>
      <md-input-container>
        <label>Nome</label>
        <input ng-model="users.name" placeholder="Nome do Usuário">
      </md-input-container>
    </div>

	

    <div>
      <md-input-container>
        <label>E-Mail</label>
        <input ng-model="users.email" placeholder="E-Mail (login) do Usuário">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <label>Senha</label>
        <input ng-model="users.password" type="password" placeholder="Senha do Usuário">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
          <md-button class="md-raised md-primary" ng-click="addUser()">Criar Usuário</md-button>        
      </md-input-container>
    </div>



  </md-content>

</div>


